
<div class="row" ng-cloak>
    <div class="col s12">
        <ul tabs reload="allTabContentLoaded" class="tabs-fixed-width">
            {% for tab in tabs %}
            <li class="tab col s4 m4 l2 grey"><a href="#{{ tab }}" class="white-text" translate>tabs.{{ tab_group }}.{{ tab }}</a></li>
            {%  endfor %}
            <div class="indicator black" style="z-index:1" class="white-text"></div>
        </ul>
    </div>
</div>


{% for tab in tabs %}
<div id="details">
  <span ng-include="'{{ output }}{{ tab_group }}.{{ tab }}.html'"></span>
</div>
{% endfor %}
